.wd-80 {
  width: 80px !important;
}

.btn {
  font-size: 15px;
  padding: 12px 26px 11px;
}

.subTable .sub-item > dt {
  width: 150px;
  font-weight: 500;
}
.subTable .sub-item > dd {
  margin-left: 30px;
}