.conarea .pagewrap .pagenav li a::after {
  background-size: auto;
  background-repeat: no-repeat;
  background-position: 50%;
}

.conarea .pagewrap {
  margin: 0 0 30px 0;
  padding: 0 0 0 2px;
}
.conarea .pagewrap h2 {
  float: left;
  width: 50%;
}
.conarea .pagewrap .pagenav {
  float: right;
  text-align: right;
  margin: 15px 2px 0;
}
.conarea .pagewrap .pagenav li {
  display: inline;
  float: left;
}
.conarea .pagewrap .pagenav li a::after {
  content: " ";
  display: inline-block;
  width: 8.5px;
  height: 5.2px;
  margin: 2px 10px;
  background-image: url("../img/common/arrow-s.svg");
  background-size: 100% !important;
  transform: rotate(-90deg);
}
.conarea .pagewrap .pagenav li:last-child a::after {
  display: none;
}